In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv("matches.csv", index_col=0)

In [3]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2023-08-13,16:30,Premier League,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,...,Match Report,NaN,13.0,1.0,17.8,0.0,0,0,2024,Liverpool
1,2023-08-19,15:00,Premier League,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,...,Match Report,NaN,25.0,9.0,16.8,1.0,0,1,2024,Liverpool
2,2023-08-27,16:30,Premier League,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,...,Match Report,NaN,9.0,4.0,17.2,1.0,0,0,2024,Liverpool
3,2023-09-03,14:00,Premier League,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,...,Match Report,NaN,17.0,4.0,14.7,0.0,0,0,2024,Liverpool
4,2023-09-16,12:30,Premier League,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,...,Match Report,NaN,16.0,5.0,15.8,0.0,0,0,2024,Liverpool

In [4]:
matches.shape

(1276, 27)

In [5]:
# 2 seasons * 20 squads * 38 matches

2 * 20 * 38

1520

In [6]:
# Missing Liverpool 2021-2022
matches["team"].value_counts()

team
Liverpool                   64
Wolverhampton Wanderers     64
Nottingham Forest           64
Brentford                   64
Everton                     64
Crystal Palace              64
Manchester City             64
Newcastle United            64
Fulham                      64
West Ham United             64
Brighton and Hove Albion    64
Manchester United           64
Aston Villa                 64
Arsenal                     64
Chelsea                     63
Bournemouth                 63
Tottenham Hotspur           63
Leicester City              38
Leeds United                38
Southampton                 38
Burnley                     26
Sheffield United            26
Luton Town                  25
Name: count, dtype: int64

In [7]:
matches[matches["team"] == "Liverpool"].sort_values("date")

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2022-08-06,12:30,Premier League,Matchweek 1,Sat,Away,D,2.0,2.0,Fulham,...,Match Report,NaN,11.0,3.0,12.4,0.0,0,0,2023,Liverpool
2,2022-08-15,20:00,Premier League,Matchweek 2,Mon,Home,D,1.0,1.0,Crystal Palace,...,Match Report,NaN,24.0,4.0,17.4,0.0,0,0,2023,Liverpool
3,2022-08-22,20:00,Premier League,Matchweek 3,Mon,Away,L,1.0,2.0,Manchester Utd,...,Match Report,NaN,17.0,5.0,14.4,0.0,0,0,2023,Liverpool
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,9.0,0.0,Bournemouth,...,Match Report,NaN,19.0,12.0,11.6,0.0,0,0,2023,Liverpool
5,2022-08-31,20:00,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Newcastle Utd,...,Match Report,NaN,23.0,6.0,17.8,0.0,0,0,2023,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,2024-01-31,20:15,Premier League,Matchweek 22,Wed,Home,W,4.0,1.0,Chelsea,...,Match Report,NaN,27.0,13.0,19.9,2.0,0,1,2024,Liverpool
35,2024-02-04,16:30,Premier League,Matchweek 23,Sun,Away,L,1.0,3.0,Arsenal,...,Match Report,NaN,10.0,1.0,19.7,0.0,0,0,2024,Liverpool
36,2024-02-10,15:00,Premier League,Matchweek 24,Sat,Home,W,3.0,1.0,Burnley,...,Match Report,NaN,25.0,10.0,15.4,0.0,0,0,2024,Liverpool
37,2024-02-17,12:30,Premier League,Matchweek 25,Sat,Away,W,4.0,1.0,Brentford,...,Match Report,NaN,15.0,8.0,15.9,1.0,0,0,2024,Liverpool
38,2024-02-21,19:30,Premier League,Matchweek 26,Wed,Home,W,4.0,1.0,Luton Town,...,Match Report,NaN,29.0,13.0,16.9,0.0,0,0,2024,Liverpool

In [8]:
matches["round"].value_counts()

round
Matchweek 1     40
Matchweek 14    40
Matchweek 25    40
Matchweek 24    40
Matchweek 23    40
Matchweek 22    40
Matchweek 21    40
Matchweek 2     40
Matchweek 19    40
Matchweek 18    40
Matchweek 16    40
Matchweek 15    40
Matchweek 20    40
Matchweek 13    40
Matchweek 3     40
Matchweek 11    40
Matchweek 12    40
Matchweek 10    40
Matchweek 9     40
Matchweek 8     40
Matchweek 7     40
Matchweek 6     40
Matchweek 5     40
Matchweek 4     40
Matchweek 26    38
Matchweek 17    38
Matchweek 27    20
Matchweek 29    20
Matchweek 30    20
Matchweek 31    20
Matchweek 33    20
Matchweek 34    20
Matchweek 28    20
Matchweek 35    20
Matchweek 36    20
Matchweek 37    20
Matchweek 32    20
Matchweek 38    20
Name: count, dtype: int64

In [9]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk                int64
pkatt             int64
season            int64
team             object
dtype: object

In [10]:
del matches["comp"]

In [11]:
del matches["notes"]

In [12]:
matches["date"] = pd.to_datetime(matches["date"])

In [13]:
matches["target"] = (matches["result"] == "W").astype("int")

In [14]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,match report,sh,sot,dist,fk,pk,pkatt,season,team,target
0,2023-08-13,16:30,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,1.3,...,Match Report,13.0,1.0,17.8,0.0,0,0,2024,Liverpool,0
1,2023-08-19,15:00,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,3.0,...,Match Report,25.0,9.0,16.8,1.0,0,1,2024,Liverpool,1
2,2023-08-27,16:30,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,0.9,...,Match Report,9.0,4.0,17.2,1.0,0,0,2024,Liverpool,1
3,2023-09-03,14:00,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,2.5,...,Match Report,17.0,4.0,14.7,0.0,0,0,2024,Liverpool,1
4,2023-09-16,12:30,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,2.5,...,Match Report,16.0,5.0,15.8,0.0,0,0,2024,Liverpool,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2023-04-30,14:00,Matchweek 34,Sun,Away,L,1.0,3.0,Newcastle Utd,0.8,...,Match Report,4.0,3.0,17.3,0.0,0,0,2023,Southampton,0
43,2023-05-08,20:00,Matchweek 35,Mon,Away,L,3.0,4.0,Nott'ham Forest,3.1,...,Match Report,18.0,4.0,14.0,0.0,1,1,2023,Southampton,0
44,2023-05-13,15:00,Matchweek 36,Sat,Home,L,0.0,2.0,Fulham,0.4,...,Match Report,5.0,1.0,24.2,0.0,0,0,2023,Southampton,0
45,2023-05-21,14:00,Matchweek 37,Sun,Away,L,1.0,3.0,Brighton,0.6,...,Match Report,5.0,1.0,13.8,1.0,0,0,2023,Southampton,0
46,2023-05-28,16:30,Matchweek 38,Sun,Home,D,4.0,4.0,Liverpool,1.8,...,Match Report,15.0,10.0,17.5,1.0,0,0,2023,Southampton,0

In [15]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [16]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [17]:
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")

In [18]:
matches["day_code"] = matches["date"].dt.dayofweek

In [19]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,fk,pk,pkatt,season,team,target,venue_code,opp_code,hour,day_code
0,2023-08-13,16:30,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,1.3,...,0.0,0,0,2024,Liverpool,0,0,6,16,6
1,2023-08-19,15:00,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,3.0,...,1.0,0,1,2024,Liverpool,1,1,2,15,5
2,2023-08-27,16:30,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,0.9,...,1.0,0,0,2024,Liverpool,1,0,16,16,6
3,2023-09-03,14:00,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,2.5,...,0.0,0,0,2024,Liverpool,1,1,1,14,6
4,2023-09-16,12:30,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,2.5,...,0.0,0,0,2024,Liverpool,1,0,22,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2023-04-30,14:00,Matchweek 34,Sun,Away,L,1.0,3.0,Newcastle Utd,0.8,...,0.0,0,0,2023,Southampton,0,0,16,14,6
43,2023-05-08,20:00,Matchweek 35,Mon,Away,L,3.0,4.0,Nott'ham Forest,3.1,...,0.0,1,1,2023,Southampton,0,0,17,20,0
44,2023-05-13,15:00,Matchweek 36,Sat,Home,L,0.0,2.0,Fulham,0.4,...,0.0,0,0,2023,Southampton,0,1,9,15,5
45,2023-05-21,14:00,Matchweek 37,Sun,Away,L,1.0,3.0,Brighton,0.6,...,1.0,0,0,2023,Southampton,0,0,4,14,6
46,2023-05-28,16:30,Matchweek 38,Sun,Home,D,4.0,4.0,Liverpool,1.8,...,1.0,0,0,2023,Southampton,0,1,12,16,6

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [26]:
train = matches[matches["date"] < '2024-01-01']

In [28]:
test = matches[matches["date"] > '2024-01-01']

In [29]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

In [30]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [31]:
preds = rf.predict(test[predictors])

In [33]:
from sklearn.metrics import accuracy_score

In [34]:
error = accuracy_score(test["target"], preds)

In [35]:
error

0.5655737704918032

In [37]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))

In [38]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted   0   1
actual
0          54  23
1          30  15

In [39]:
from sklearn.metrics import precision_score

precision_score(test["target"], preds)

0.39473684210526316

In [40]:
grouped_matches = matches.groupby("team")

In [41]:
group = grouped_matches.get_group("Manchester City").sort_values("date")

In [42]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [43]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
4,2022-08-27,15:00,Matchweek 4,Sat,Home,W,4.0,2.0,Crystal Palace,2.2,...,15,5,3.000000,1.000000,17.666667,6.000000,17.466667,0.666667,0.333333,0.333333
5,2022-08-31,19:30,Matchweek 5,Wed,Home,W,6.0,0.0,Nott'ham Forest,3.3,...,19,2,3.666667,1.666667,19.333333,7.333333,15.933333,0.333333,0.000000,0.000000
6,2022-09-03,17:30,Matchweek 6,Sat,Away,D,1.0,1.0,Aston Villa,2.1,...,17,5,4.333333,1.666667,18.666667,8.000000,15.033333,0.333333,0.000000,0.000000
9,2022-09-17,12:30,Matchweek 8,Sat,Away,W,3.0,0.0,Wolves,1.1,...,12,5,3.666667,1.000000,16.000000,6.000000,15.233333,0.333333,0.000000,0.000000
10,2022-10-02,14:00,Matchweek 9,Sun,Home,W,6.0,3.0,Manchester Utd,3.2,...,14,6,3.333333,0.333333,15.333333,6.666667,17.000000,0.333333,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,2024-02-05,20:00,Matchweek 23,Mon,Away,W,3.0,1.0,Brentford,2.1,...,20,0,2.666667,1.000000,19.666667,6.333333,17.500000,1.000000,0.000000,0.000000
33,2024-02-10,12:30,Matchweek 24,Sat,Home,W,2.0,0.0,Everton,1.6,...,12,5,3.000000,1.333333,22.000000,10.000000,18.100000,1.000000,0.000000,0.000000
35,2024-02-17,17:30,Matchweek 25,Sat,Home,D,1.0,1.0,Chelsea,2.6,...,17,5,2.666667,0.666667,19.333333,7.333333,17.466667,0.333333,0.000000,0.000000
36,2024-02-20,19:30,Matchweek 18,Tue,Home,W,1.0,0.0,Brentford,2.3,...,19,1,2.000000,0.666667,25.000000,7.666667,17.500000,0.333333,0.000000,0.000000
37,2024-02-24,17:30,Matchweek 26,Sat,Away,W,1.0,0.0,Bournemouth,1.6,...,17,5,1.333333,0.333333,25.000000,6.000000,16.966667,0.333333,0.000000,0.000000

In [44]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [45]:
matches_rolling

                                 date   time         round  day venue result  \
team
Arsenal                 3  2022-08-27  17:30   Matchweek 4  Sat  Home      W
                        4  2022-08-31  19:30   Matchweek 5  Wed  Home      W
                        5  2022-09-04  16:30   Matchweek 6  Sun  Away      L
                        7  2022-09-18  12:00   Matchweek 8  Sun  Away      W
                        8  2022-10-01  12:30   Matchweek 9  Sat  Home      W
...                               ...    ...           ...  ...   ...    ...
Wolverhampton Wanderers 26 2024-02-01  20:15  Matchweek 22  Thu  Home      L
                        27 2024-02-04  14:00  Matchweek 23  Sun  Away      W
                        28 2024-02-10  15:00  Matchweek 24  Sat  Home      L
                        29 2024-02-17  15:00  Matchweek 25  Sat  Away      W
                        30 2024-02-25  13:30  Matchweek 26  Sun  Home      W

                             gf   ga        opponent   xg  ...  hour  \
team                                                       ...
Arsenal                 3   2.0  1.0          Fulham  2.6  ...    17
                        4   2.0  1.0     Aston Villa  2.4  ...    19
                        5   1.0  3.0  Manchester Utd  1.3  ...    16
                        7   3.0  0.0       Brentford  1.5  ...    12
                        8   3.0  1.0       Tottenham  2.4  ...    12
...                         ...  ...             ...  ...  ...   ...
Wolverhampton Wanderers 26  3.0  4.0  Manchester Utd  2.1  ...    20
                        27  4.0  2.0         Chelsea  2.0  ...    14
                        28  0.0  2.0       Brentford  1.0  ...    15
                        29  2.0  1.0       Tottenham  1.8  ...    15
                        30  1.0  0.0   Sheffield Utd  1.3  ...    13

                            day_code  gf_rolling ga_rolling sh_rolling  \
team
Arsenal                 3          5    3.000000   0.666667  14.333333
                        4          2    3.000000   1.000000  18.333333
                        5          6    2.333333   0.666667  19.333333
                        7          6    1.666667   1.666667  20.000000
                        8          5    2.000000   1.333333  17.000000
...                              ...         ...        ...        ...
Wolverhampton Wanderers 26         3    2.333333   0.333333  10.333333
                        27         6    2.000000   1.333333  11.666667
                        28         5    2.333333   2.000000  12.000000
                        29         5    2.333333   2.666667  15.000000
                        30         6    2.000000   1.666667  14.000000

                           sot_rolling dist_rolling  fk_rolling  pk_rolling  \
team
Arsenal                 3     5.000000    14.133333    0.333333    0.000000
                        4     7.000000    14.433333    0.333333    0.000000
                        5     7.333333    15.533333    0.666667    0.000000
                        7     6.333333    16.800000    1.000000    0.000000
                        8     6.000000    17.700000    0.666667    0.000000
...                                ...          ...         ...         ...
Wolverhampton Wanderers 26    4.666667    16.600000    0.000000    0.000000
                        27    4.666667    16.200000    0.333333    0.333333
                        28    4.666667    17.266667    1.000000    0.666667
                        29    5.333333    16.800000    1.333333    0.666667
                        30    6.000000    16.566667    1.000000    0.333333

                            pkatt_rolling
team
Arsenal                 3        0.000000
                        4        0.000000
                        5        0.000000
                        7        0.000000
                        8        0.000000
...                                   ...
Wolverhampton Wanderers 26       0.000000
                        27       0.333333
                        28       0.666667
                        29       0.666667
                        30       0.333333

[1207 rows x 38 columns]

In [46]:
matches_rolling = matches_rolling.droplevel('team')

In [47]:
matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
3,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,2.6,...,17,5,3.000000,0.666667,14.333333,5.000000,14.133333,0.333333,0.000000,0.000000
4,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,2.4,...,19,2,3.000000,1.000000,18.333333,7.000000,14.433333,0.333333,0.000000,0.000000
5,2022-09-04,16:30,Matchweek 6,Sun,Away,L,1.0,3.0,Manchester Utd,1.3,...,16,6,2.333333,0.666667,19.333333,7.333333,15.533333,0.666667,0.000000,0.000000
7,2022-09-18,12:00,Matchweek 8,Sun,Away,W,3.0,0.0,Brentford,1.5,...,12,6,1.666667,1.666667,20.000000,6.333333,16.800000,1.000000,0.000000,0.000000
8,2022-10-01,12:30,Matchweek 9,Sat,Home,W,3.0,1.0,Tottenham,2.4,...,12,5,2.000000,1.333333,17.000000,6.000000,17.700000,0.666667,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,2024-02-01,20:15,Matchweek 22,Thu,Home,L,3.0,4.0,Manchester Utd,2.1,...,20,3,2.333333,0.333333,10.333333,4.666667,16.600000,0.000000,0.000000,0.000000
27,2024-02-04,14:00,Matchweek 23,Sun,Away,W,4.0,2.0,Chelsea,2.0,...,14,6,2.000000,1.333333,11.666667,4.666667,16.200000,0.333333,0.333333,0.333333
28,2024-02-10,15:00,Matchweek 24,Sat,Home,L,0.0,2.0,Brentford,1.0,...,15,5,2.333333,2.000000,12.000000,4.666667,17.266667,1.000000,0.666667,0.666667
29,2024-02-17,15:00,Matchweek 25,Sat,Away,W,2.0,1.0,Tottenham,1.8,...,15,5,2.333333,2.666667,15.000000,5.333333,16.800000,1.333333,0.666667,0.666667
30,2024-02-25,13:30,Matchweek 26,Sun,Home,W,1.0,0.0,Sheffield Utd,1.3,...,13,6,2.000000,1.666667,14.000000,6.000000,16.566667,1.000000,0.333333,0.333333

In [48]:
matches_rolling.index = range(matches_rolling.shape[0])

In [55]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2024-01-01']
    test = data[data["date"] > '2024-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

In [56]:
combined, error = make_predictions(matches_rolling, predictors + new_cols)

In [57]:
error

0.5806451612903226

In [58]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [59]:
combined.head(10)

     actual  predicted       date         team         opponent result
55        1          1 2024-01-20      Arsenal   Crystal Palace      W
56        1          1 2024-01-30      Arsenal  Nott'ham Forest      W
57        1          1 2024-02-04      Arsenal        Liverpool      W
58        1          0 2024-02-11      Arsenal         West Ham      W
59        1          0 2024-02-17      Arsenal          Burnley      W
60        1          1 2024-02-24      Arsenal    Newcastle Utd      W
116       0          0 2024-01-14  Aston Villa          Everton      D
117       0          0 2024-01-30  Aston Villa    Newcastle Utd      L
118       1          0 2024-02-03  Aston Villa    Sheffield Utd      W
119       0          1 2024-02-11  Aston Villa   Manchester Utd      L

In [60]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [61]:
combined["new_team"] = combined["team"].map(mapping)

In [62]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [63]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,1,1,2024-01-20,Arsenal,Crystal Palace,W,Arsenal,0,0,Crystal Palace,Arsenal,L,Crystal Palace
1,1,1,2024-01-30,Arsenal,Nott'ham Forest,W,Arsenal,0,0,Nottingham Forest,Arsenal,L,Nottingham Forest
2,1,1,2024-02-04,Arsenal,Liverpool,W,Arsenal,0,0,Liverpool,Arsenal,L,Liverpool
3,1,0,2024-02-11,Arsenal,West Ham,W,Arsenal,0,0,West Ham United,Arsenal,L,West Ham
4,1,0,2024-02-17,Arsenal,Burnley,W,Arsenal,0,0,Burnley,Arsenal,L,Burnley
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,0,0,2024-02-01,Wolverhampton Wanderers,Manchester Utd,L,Wolves,1,0,Manchester United,Wolves,W,Manchester Utd
106,1,0,2024-02-04,Wolverhampton Wanderers,Chelsea,W,Wolves,0,1,Chelsea,Wolves,L,Chelsea
107,0,0,2024-02-10,Wolverhampton Wanderers,Brentford,L,Wolves,1,0,Brentford,Wolves,W,Brentford
108,1,0,2024-02-17,Wolverhampton Wanderers,Tottenham,W,Wolves,0,1,Tottenham Hotspur,Wolves,L,Tottenham
109,1,1,2024-02-25,Wolverhampton Wanderers,Sheffield Utd,W,Wolves,0,0,Sheffield United,Wolves,L,Sheffield United

In [64]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts()

actual_x
1    17
0     9
Name: count, dtype: int64